<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Portefolio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Maguette ISSIAKA">

        <title>Maguette ISSIAKA - {% block title %}Portefolio{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer class="bg-light">
        <div class="container-fluid">
        <div class="row text-center text-dark">
        <div class="col-md-4 p-5 my-auto">
        <p>Quelques Liens</p>
        <p class="dropdown-divider"></p>
        <ul>
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('competences') }}">Mes Competences</a></li>
        <li><a href="{{ path('admin_projets') }}">Acces au CRUD</a></li>
        </ul>
        </div>
                    
                    <div class="col-md-4 p-5 my-auto">
                        
                        <p>Un logo ? peut être, un jour ....</p>
                    </div>
                    
                    <div class="col-md-4 p-5 my-auto">
                        <p>maiga.falle@gmail.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p>{{ copyright|raw }}</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>

</html>


    </body>
</html>
